
/* coming soon page*/

main.coming-soon {
  background-color:var(--kambaba);
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  width:100vw;
  color: var(--wagasi);
}

.mainback {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: url('../img/background-lh.jpg') center center no-repeat;
  background-size: cover;
  opacity:1;
}

main.coming-soon .triangul {
  position:absolute;
  top:-90px;
  left:calc(50vw - 90px);
}

main.coming-soon .triangul img {
  width:180px;
}

main.coming-soon .bottom-content {
  position:absolute;
  text-align: center;
  padding:0px 20px;
  bottom:50px;
}

main.coming-soon .bottom-content p {
  margin:0;
}

main.coming-soon h1.temp {
  width: 100vw;
  text-align: center;
  position:relative;
}

main.coming-soon h1.temp img {
  width: 80%;
  max-width:720px;
}
